html {
	overflow-x: hidden !important;
	overflow-y: hidden !important;
	background-color: transparent !important;
}

body {
	background-color: transparent !important;
}

#backgroundbar {
	left: 29px;
	bottom: 17px;
	width: 262px;
	height: 10px;
	background: rgba(30,30,30,1);
	padding: 4px;
	position: absolute !important;
	display: none;
}

#vida {
	width: 129px;
	height: 10px;
	background: rgba(50,100,50,1);
	float: left;
}

#vida2 {
	height: 10px;
	background: rgba(80,156,81,1);
	float: left;
}

#colete {
	width: 129px;
	height: 10px;
	background: rgba(40,90,117,1);
	float: left;
	margin-left: 4px;
}

#colete2 {
	height: 10px;
	background: rgba(66,140,180,1);
	float: left;
}

#topbarra {
	left: 43px;
	bottom: 205px;
	width: 242px;
	padding: 5px 0;
	background: rgba(0,0,0,0.4);
	text-align: center;
	position: absolute !important;
	font-size: 11px;
	color: rgba(255,255,255,0.5);
	text-shadow: 1px 1px #000;
	font-family: Arial,Helvetica,sans-serif;
	display: none;
}

#gasolina {
	left: 285px;
	bottom: 35px;
	width: 14px;
	height: 192px;
	background: rgba(0,0,0,0.6);
	position: absolute !important;
	display: none;
}

#gasolina2 {
	width: 14px;
	bottom: 0;
	position: absolute !important;
	background: rgba(255,0,0,0.4);
}

#gasolina b {
	bottom: 0;
	font-size: 11px;
	color: rgba(255,255,255,0.5);
	font-family: Arial,Helvetica,sans-serif;
	position: absolute !important;
	padding: 0 0 3px 3px;
	text-shadow: 1px 1px rgba(50,0,0,1.0);
}

#gasolina s {
	font-size: 15px;
	top: 0;
	font-size: 11px;
	color: rgba(255,255,255,0.5);
	font-family: Arial,Helvetica,sans-serif;
	position: absolute !important;
	padding: 3px 0 0 3.5px;
	text-shadow: 1px 1px rgba(50,0,0,1.0);
	text-decoration: none;
}

#gasolina line {
	margin: 94px 0 0;
	width: 14px;
	height: 4px;
	background: rgba(255,255,255,0.6);
	position: absolute !important;
}

#gasolina line2 {
	margin: 46px 0 0;
	width: 14px;
	height: 2px;
	background: rgba(255,255,255,0.3);
	position: absolute !important;
}

#gasolina line3 {
	margin: 144px 0 0;
	width: 14px;
	height: 2px;
	background: rgba(255,255,255,0.4);
	position: absolute !important;
}

#rpm {
	left: 29px;
	bottom: 35px;
	width: 14px;
	height: 192px;
	background: rgba(0,0,0,0.6);
	position: absolute !important;
	display: none;
}

#rpm2 {
	width: 14px;
	height: 8px;
	bottom: 0;
	position: absolute !important;
	background: rgba(255,0,0,0.5);
}

#rpm line1 {
	margin: 170px 0 0;
	width: 14px;
	height: 2px;
	background: rgba(255,255,255,0.2);
	position: absolute !important;
}

#rpm line11 {
	margin: 165px 0 0;
	width: 14px;
	font-size: 11px;
	text-align: center;
	color: rgba(255,255,255,0.5);
	position: absolute !important;
	font-family: Arial,Helvetica,sans-serif;
}

#rpm line2 {
	margin: 152px 0 0;
	width: 14px;
	height: 2px;
	background: rgba(255,255,255,0.2);
	position: absolute !important;
}

#rpm line22 {
	margin: 147px 0 0;
	width: 14px;
	font-size: 11px;
	text-align: center;
	color: rgba(255,255,255,0.5);
	position: absolute !important;
	font-family: Arial,Helvetica,sans-serif;
}

#rpm line3 {
	margin: 134px 0 0;
	width: 14px;
	height: 2px;
	background: rgba(255,255,255,0.2);
	position: absolute !important;
}

#rpm line33 {
	margin: 129px 0 0;
	width: 14px;
	font-size: 11px;
	text-align: center;
	color: rgba(255,255,255,0.5);
	position: absolute !important;
	font-family: Arial,Helvetica,sans-serif;
}

#rpm line4 {
	margin: 116px 0 0;
	width: 14px;
	height: 2px;
	background: rgba(255,255,255,0.2);
	position: absolute !important;
}

#rpm line44 {
	margin: 111px 0 0;
	width: 14px;
	font-size: 11px;
	text-align: center;
	color: rgba(255,255,255,0.5);
	position: absolute !important;
	font-family: Arial,Helvetica,sans-serif;
}

#rpm line5 {
	margin: 98px 0 0;
	width: 14px;
	height: 2px;
	background: rgba(255,255,255,0.2);
	position: absolute !important;
}

#rpm line55 {
	margin: 93px 0 0;
	width: 14px;
	font-size: 11px;
	text-align: center;
	color: rgba(255,255,255,0.5);
	position: absolute !important;
	font-family: Arial,Helvetica,sans-serif;
}

#rpm line6 {
	margin: 80px 0 0;
	width: 14px;
	height: 2px;
	background: rgba(255,255,255,0.2);
	position: absolute !important;
}

#rpm line66 {
	margin: 75px 0 0;
	width: 14px;
	font-size: 11px;
	text-align: center;
	color: rgba(255,255,255,0.5);
	position: absolute !important;
	font-family: Arial,Helvetica,sans-serif;
}

#rpm line7 {
	margin: 62px 0 0;
	width: 14px;
	height: 2px;
	background: rgba(255,255,255,0.2);
	position: absolute !important;
}

#rpm line77 {
	margin: 57px 0 0;
	width: 14px;
	font-size: 11px;
	text-align: center;
	color: rgba(255,255,255,0.5);
	position: absolute !important;
	font-family: Arial,Helvetica,sans-serif;
}

#rpm line8 {
	margin: 44px 0 0;
	width: 14px;
	height: 2px;
	background: rgba(255,255,255,0.2);
	position: absolute !important;
}

#rpm line88 {
	margin: 39px 0 0;
	width: 14px;
	font-size: 11px;
	text-align: center;
	color: rgba(255,255,255,0.5);
	position: absolute !important;
	font-family: Arial,Helvetica,sans-serif;
}

#rpm line9 {
	margin: 26px 0 0;
	width: 14px;
	height: 2px;
	background: rgba(255,255,255,0.2);
	position: absolute !important;
}

#rpm line99 {
	margin: 21px 0 0;
	width: 14px;
	font-size: 11px;
	text-align: center;
	color: rgba(255,255,255,0.5);
	position: absolute !important;
	font-family: Arial,Helvetica,sans-serif;
}

.colorfalse {
	color: rgba(255,100,100,0.7);
}

.colortrue {
	color: rgba(80,150,80,0.8);
}

#voicecar {
	display: none;
	font-size: 12px;
	left: 68px;
	bottom: 45px;
	width: 200px;
	text-align: right;
	text-shadow: 1px 1px #000;
	position: absolute !important;
	color: rgba(255,255,255,0.5);
	font-family: Arial,Helvetica,sans-serif;
}

#voicecar b, #voiceoutcar b {
	color: rgba(255,255,255,0.8);
}

#voiceoutcar {
	display: none;
	font-size: 12px;
	left: 50px;
	bottom: 45px;
	text-shadow: 1px 1px #000;
	position: absolute !important;
	color: rgba(255,255,255,0.5);
	font-family: Arial,Helvetica,sans-serif;
}

#voiceoutcar s {
	padding: 0 10px;
	text-decoration: none;
	color: rgba(255,255,255,0.2);
}

#street {
	display: none;
	font-size: 12px;
	left: 120px;
	bottom: 45px;
	text-shadow: 1px 1px #000;
	position: absolute !important;
	color: rgba(255,255,255,0.5);
	font-family: Arial,Helvetica,sans-serif;
}

#dlgames {
	background: url("dlgames.png") no-repeat;
	position: absolute;
	top: 70px;
	right: 50px;
	width: 95px;
	height: 100px;
	opacity: 0.5;
}